@CHARSET "UTF-8";

/*
Includes:
Page header styles (background image, logo fade effect, etc.)
Basic page layout styles
Top horizontal dropdown menu styles
Lefthand menu styles
Login panel styles
News panel styles
Footer styles
 */

/* Programme schedule page */
#programme {
    padding-top: 1em;
}
.programme-container {
    padding-top: 1em;
    padding-bottom: 2em;
}
.programme-row {
    border-top: solid 1px darkgray;
    padding-top:0.3rem;
    padding-bottom:0.3rem;
}
.programme-row-topless {
    padding-top:0.3rem;
    padding-bottom:0.3rem;
}
.programme-row-last {
    border-bottom: solid 1px darkgray;
}
#programme hr {
    margin-top:0.3rem;
    margin-bottom:0.3rem;
    border-top: solid 1px darkgray;
}
#programme .offmetm {
    background-color: #ffffa9;
}
#programme .day {
  	color: #348A88;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 1.4rem;
}
#programme .time {
    font-size: 90%;
    font-weight: normal;
    color: slategray;
}
#programme .room {
    font-size: 90%;
    font-weight: normal;
    color: slategray;
}
#programme .col-xs-2 {
    white-space: nowrap;
    padding-left: 5px;
}
#programme .presenter {
    display: block;
    font-size: 90%;
    font-weight: 400;
    font-style: italic;
    color: slategray;
    margin-top: 0.1em;
}
#programme .title {
    font-size: 100%;
}
#programme a {
    color: royalblue;
}
#programme .catering {
    background-color: #e6fff2;
}
#programme .assembly {
    background-color: #ffeecc;
}
#programme .workshop {
    background-color: #ccffff;
}

/* Stripe payment form styles */
.StripeElement--invalid {
    border-color: #fa755a;
}
.StripeElement:-webkit-autofill {
    background-color: #fefde5 !important;
}
.stripe_form_amount {

}
.stripe-form-name, .stripe-form-card {
    margin-bottom: 1.5em;
}
#card-button:hover {
    background: #8991bf;
}
#card-errors {
    padding: 0.5em;
    background-color: yellow;
    border: 1px solid gray;
    border-radius: 4px;
    color: darkslategray;
    margin-bottom: 1.5em;
    display:none;
}
.stripeLogo {
    padding: 1em 0 2em 0;
}


/* Page header styles */
#logo {
    padding:40px 0px 0px 0px;
    height:173px;
}
#logo h1 a {
    display:block;
    background:transparent url('../images/pictures/logos/logo.met.png') no-repeat scroll 0 0;
    width:244px;
    height:173px;
}

/* Basic page layout */
.wrapper {
    margin: auto;
    max-width: 1200px;
    position: relative; /*this is to hide the blue background degrade in the page area */
}

/*
* Hide background image on smaller screens
* The random image is set in load_structure.inc.php
*/
@media only screen and (max-width: 768px) {
    body {
        background-image: none !important;
    }
}

.page-area {
    background-color: white;
    padding-top: .3em;
}
.sidepanel  {
    margin-top: .8em;
}
#breadcrumb {
    margin-bottom: .8em;
}
#breadcrumb a {
    color: black;
}

/* Top horizontal dropdown menu */
.navbar-custom {
    background-color: transparent;

    padding: 0;
}
@media only screen and (min-device-width: 768px) {
    .navbar-dark .navbar-nav {
        background: rgba(29, 68, 130, 0.8); /*1d4482;*/
        width: 1170px;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: #ffffff;
    }
}
@media only screen and (max-device-width: 768px) {
    .navbar-dark .navbar-nav {
        background-color: #ffffff;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: #000000;
    }
}
.navbar-toggler {
    /*border:none;*/
}
.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    width:2em;
    height:2em;
}

/* Top-level dropdown menu on ALL DEVICES */
.topnav {
    margin-top:20px; /* spacing between logo and menu bar */
}
.dropdown {
    margin-left: 24px; /* horizontal spacing between items in top menu */
}
.dropdown-menu {
    border: 0;
    padding: 0;
}
.dropdown-menu a {
    margin-top: 1px; /* separator between items in dropdown menu */
}
/* Top-level dropdown menu on DESKTOP */
@media only screen and (min-device-width: 768px) {
    .dropdown-menu {
        opacity: 0.95;
    }
    .dropdown-item {
        color: white;
        background-color: #303030; /* dark grey background */
        opacity: inherit;
        border: 1px solid #303030; /* border added to even up with hover state */
    }
    .dropdown-item.specialMenu {
        color: white;
        background-color: #8b1513; /* dark red background */
        border: 1px solid #8b1513; /* border added to even up with hover state */
    }
    .dropdown-item:active, .dropdown-item:hover {
        color: black; /* #16181b;  charcoal grey font color */
        background-color: #FAFFBD; /* light yellow background */
        border: 1px solid silver;
    }
}
/* Top-level dropdown menu on MOBILE */
@media only screen and (max-device-width: 768px) {
    .navbar-dark .navbar-nav .show>.nav-link {
        color: darkgray;
        background-color: white;
    }
    .navbar-dark .navbar-nav .nav-link:hover {
        color: black;
        background-color: white;
    }
    .dropdown-menu a {
        color: black;
        background-color: white;
    }
    .dropdown-menu a.specialMenu {
        color: #8b1513;
        background-color: white;
    }
}

/* Styles for side panel and banners */
.sidepanel {
    margin-bottom: 1em;
}
.sideBanner {
    margin-top: .5em;
}

/* Lefthand menu styles */
.lefthand-menu {
    margin-bottom: 20px;
}
nav a {
    color:white;
}
nav a.one {
    background-color: #348A88;
    border: 1px solid white;
}
nav a.two {
    background-color: #4fadab;
    border: 1px solid white;
    font-size:90%;
}
nav a.three {
    background-color: #84c6c4;
    border: 1px solid white;
    font-size:85%;
}
nav a.four {
    background-color: #C6D880;
    border: 1px solid white;
    font-size:80%;
}
nav a.one:hover, a.two:hover, a.three:hover, a.four:hover {
    background-color: #8b1513;
}
nav a.current {
    background-color: #0dbabe;
}
.nav-link.one {
    color:white;
    padding: .2rem 1rem;
    border-bottom: white;
}
.nav-link.two {
    color:white;
    padding: .2rem 2rem;
    border-bottom: white;
}
.nav-link.three {
    color:white;
    padding: .2rem 3rem;
    border-bottom: white;
}
.nav-link.four {
    color:white;
    padding: .2rem 4rem;
    border-bottom: white;
}
/* secondary menu styles for MOBILE */
@media only screen and (max-width: 768px) {
    .levelTwoSubmenu{
        display: block;
    }
    .levelTwoSubmenu.visible-submenu{
        display: block;
    }
    .nav-link.two.current, .nav-link.three.current, .nav-link.four.current {
        display: block;
    }
}
/* Login panel styles */
#loginPanel a {
    color: #0dbabe;
}
#loginPanel a:hover {
    color: #348A88;
}

#loginTitle {
    font-size:110%;
    color:#8B1513;
    margin-bottom: .8em;
    font-weight:500;
}
#btnLogin {
    margin-top: 1em;
}
p#msgLoginError {
    margin-top: .5em;
    color: #dc3545;
}
#frmLogin #txtUsername {
    margin-bottom: .5em;
}

/* Social networks links */
#socialNetwork {
    margin:25px 0;
    padding-right: 2.5em;
    font-weight:bold;
}
#socialNetwork label {
    margin-bottom:4px;
    text-align:left;
}
#socialNetwork a {
    float:right;
    margin:0 0 0 1.2em;
}

/* Footer styles */
.footer {
    margin-bottom: 3em;
}
.copyright {
    display: inline-block;
}
.footerItem {
    display: inline-block;
    margin-left: 2em;
}
.footer a {
    color: #0dbabe;
}

hr.green_line {
    display: block;
    height: 0.5em;
    background-color: #348A88;
    border: 0;
    margin: 0.5em auto;
}

/* Other styles */
/* ## pager ## */
#pager { text-align:right; border-top:1px solid #B2B2B2; padding-top:7px; margin:0px 15px; }
#pager ul { display:inline table; margin:0px 8px 0px; }
#pager ul li { float:left; list-style-type:none; }
#pager ul li a { color:#8B1513; text-align:center; padding:0px 6px 3px; font-size:11px; }
#pager ul li a:hover { color:#348A88; }
#pager ul li a.current { color:#4D4D4D; font-weight:bold; }
#pager ul li a#nextPage, #pager ul li a#prevPage { display:inline; }

#openbox ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li {
    background-color: darkgrey;
    color: #121212;
    font-weight:600;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 0.2em;
}

ul.tabs li.current{
    background-color: #348A88;
    color: #ffffff;
}

.tab-content{
    display: none;
    padding: 15px;
}

.tab-content.current{
    display: inherit;
}
.btn-primary {
    background-color: #1d4482;
    border-color: #1d4482;
}
.btn-primary:hover {
    background-color: #1d4482;
    border-color: #1d4482;
}
#btnLogin .btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #1d4482;
    border-color: #1d4482;
}
#btnLogin .btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(156,195,255,.5);
}
#btnLogin .btn-primary:not([disabled]):not(.disabled).active:focus, .btn-primary:not([disabled]):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(156,195,255,.5);
}
.marker { 
    background-color:#FFFF00; 
}

/* ## Privacy notice ## */
.privacy-accordion {
    font-size: 100% !important;
    background-color: #ebf5f5;
    color: #444;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}
.privacy-accordion:hover, .privacy-accordion:active, .privacy-accordion:focus {
    background-color: #4fadab !important;
    color: #ffffff !important;
}
.privacy-accordion.activated, .privacy-accordion:hover {
    background-color: #4fadab;
}
.privacy-accordion:after {
    content: '+ ';
    color: #444;
    font-weight: bold;
    float: left;
    margin-left: 0.7em;
    margin-right: 0.7em;
}
.privacy-accordion.activated:after {
    content: "– ";
}
.panel {
    padding: 10px 0 0 20px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
