/* -----------------------------------------------------------------------


 Personal CSS
 http://www.edatasoft.com

   * CSS adaptado de la empresa eDataSoft para el portal.

----------------------------------------------------------------------- */

@CHARSET "UTF-8";

body { position:relative; color:#58595b; font:12px/16px 'Arial', Helvetica, sans-serif; }
#backgroundBlue { position:absolute; top:212px; background:transparent url('../images/backgrounds/bkgrd.blueDegrade.png') repeat-x scroll 0 bottom; width:100%; height:243px; }

#wrapper { position:relative; width:1024px; margin:0px auto 20px; }

/* ## HEADER ## */
#logo { padding:40px 0px 0px 0px; height:173px; }
#logo h1 a { display:block; background:transparent url('../images/pictures/logos/logo.met.png') no-repeat scroll 0 0; width:244px; height:173px; text-indent:-9999px; }

	/* nav menu */
	#nav { position:relative; padding: 0px;}
	#nav ul { position:relative; display:inline-table; background:transparent url('../images/backgrounds/bkgrd.blue50.png') repeat scroll 0 0; margin-left:16px; border-top-left-radius:10px; }
	#nav ul li { float:left; background:transparent; border-right:2px solid #8b1513; padding:7px 0px; }
	#nav ul li a { padding:0px 17px; color:#ffffff; font-size:12px; font-weight:bold; text-transform:uppercase; }
	#nav ul li#first a { padding-left:18px; }
	#nav ul li#last { border-right:none; }
	#nav ul li#last a { padding-right:18px; }
	
	#nav ul li ul {	display:none; position:absolute; margin:0; padding:0; top:30px; border-top-left-radius:0px; z-index:150; }
	#nav ul li ul li { display:block; float:none; background:transparent url('../images/backgrounds/bkgrd.black65.png') repeat scroll 0 0; width:135px; margin:0; padding:0; border-right:none; border-top:1px solid #ffffff; }
	#nav li.specialMenu { background:transparent url('../images/backgrounds/bkgrd.red50.png') repeat scroll 0 0; }
	#nav ul li ul li a { display:block; font-size:11px; padding:6px 12px; line-height:17px; color:#ffffff; text-align:center }

	/* form search */
	#frmSearch { position:absolute; right:0px; }
	#frmSearch #btnSearch { background:transparent url('../images/pictures/icons/icon.search.png') no-repeat scroll 0 50%; width:24px; height:22px; margin-left:3px; border:none; cursor:pointer; }

/* ## CONTENT ## */
#bodyContent { background:#ffffff; border-top-left-radius:18px; }
#bodyContentRight { background:#ffffff; width:200px; padding:37px 10px 0px 0px; }
#contentAbout strong { color: black; }


	/* menu left */
	.columnLeft { padding:9px 0px 0px 11px; width:162px; }
	.columnLeft ul { background:#377978; margin-top:2px; }
	.columnLeft ul li { border-bottom:1px solid #ffffff; }
	.columnLeft ul li a { display:block; padding:7px; color:#ffffff; }
	.columnLeft ul li ul { background:#4fadab; margin-top:0px; }
	.columnLeft ul li ul li { border-top:1px solid #ffffff; border-bottom:none; }
	.columnLeft ul li ul li a { padding:3px 3px 3px 18px; font-size:11px; }
	.columnLeft ul li ul li ul { background:#84c6c4; margin-top:0px; }
	.columnLeft ul li ul li ul li a { padding:3px 3px 3px 26px; font-size:11px; }
	.columnLeft ul li a:hover { background:#8b1513; }
	.columnLeft ul li.current { background:#0dbabe; }


	/* nav resume */
	#resumeNav { margin:10px 0px 7px; }
	#resumeNav tr td { height:69px; vertical-align:middle; }
	#resumeNav table a { display:block; width:200px; color:#000000; font-weight:bold; vertical-align:middle; }

	/* ## login panel ## */
	#tblResumeAbout tr td#loginPanel { padding:0px; color:#000000; }
	#loginPanel form, #frmLogin_page { background:#ececed; padding:10px 10px 10px 0px; text-align:right; }
	#loginPanel #infoUserData, #frmLogin_page #infoUserData{ background:#ececed; padding:10px 10px 10px 10px; text-align:left; }
	#loginPanel form input, #frmLogin_page input { width:170px; padding:5px; margin-bottom:8px; border:none; font:12px/16px 'Arial', Helvetica, sans-serif; }
	#loginPanel form #btnLogin, #btnLogin_page { background:#b1b3b4; width:80px; font-weight:bold; font-size:14px; text-align:center; text-transform:uppercase; cursor:pointer; }
	#loginPanel a { color:#0097a8; }
	#msgLoginError, #msgLoginError_page { margin-bottom:10px; color:#8B1513; }
	
	#frmLogin_page input {display:inline-block; width:310px;}
	#frmLogin_page{display:inline-block; width:550px; text-align:center; padding:30px 0;}
	.form_page{text-align:center; width:750px!important; }

	/* ## social networks ## */
	#socialNetwork { margin:25px 0px; text-align:right; color:#000000; font-size:15px; font-weight:bold; }
	#socialNetwork label { display:block; margin-bottom:4px; text-align:left; }
	#socialNetwork a { float:right; margin:0px 0px 0px 8px; }

	/* ## breadcrumb ## */
	#breadcrumb { position:absolute; display:block; width:788px; margin-bottom:11px; }
	#breadcrumb a { color:#000000; }

	/* ## pager ## */
	#pager { text-align:right; border-top:1px solid #B2B2B2; padding-top:7px; margin:0px 15px; }
	#pager ul { display:inline-table; margin:0px 8px 0px; }
	#pager ul li { float:left; }
	#pager ul li a { color:#8B1513; text-align:center; padding:0px 6px 3px; font-size:11px; }
	#pager ul li a:hover { color:#348A88; }
	#pager ul li a.current { color:#4D4D4D; font-weight:bold; }
	#pager ul li a#nextPage, #pager ul li a#prevPage { display:inline; }

/* ## FOOTER ## */
#footerContent, 
#sitemap { background:#ffffff; }
#footerContent td,
#sitemap td { text-align:center; padding:30px 10px 8px; font-size:9px; }

#sitemap { border-top:1px solid #000000; }
#sitemap td { padding-top:8px; text-align:center; font-size:12px }
#sitemap ul { display:inline-table; }
#sitemap ul li { float:left; margin:0px 5px; font-size:12px; color:#3d3c3f; }
#sitemap ul li a { color:#3d3c3f; }

/* ## OTHERS ## */
.inputText { background:#ffffff; padding:3px 8px; border:none; color:#58595b; font:13px/16px 'Arial', Helvetica, sans-serif; border-radius:10px; }
.seeMore { color:#d5503a; }
#members{ position:absolute; top:255px; right:116px; color:#8B1513; font: 700 26px/26px 'Advent Pro', sans-serif; }
#msgError { margin-bottom:10px; color:#8B1513; }
.msgKO { color:#8B1513; }

/* ## HIVE LOGIN LINK ## */
.hive_login_link {
  font-size: 120%;
}