html,body {margin:0;padding:0;height:100%;}
body { font-family:"Arial" , Verdana; background:#fafafa; }
input,select,textarea { font-family:"Arial" , Verdana; } 

/*  GENERAL   */
.imagenEliminar,.imagenVer { cursor:pointer; }
.header_icon_drag { width:16px; height:16px; }
.icon_drag { background: url(../images/navigate_right.png) no-repeat center; width:16px; height:16px; }


/* LOGIN */
#bkgrdLogin { background:transparent url('../images/background/bkgrd.gif') repeat scroll 0 0; }
#bkgrdLogin div.container { width:100%;  _height: 100%;}
#bkgrdLogin table#tableAccess { position:absolute; top:50%; margin-top:-160px; width:100%; height:351px; }
table#tableAccess tr td.backgroundBlank { background:transparent url('../images/background/bkgrd.login.png') repeat-x right 0; width:33% }
table#tableAccess tr td#backgroundContent { background:transparent url('../images/background/bkgrd.login.png') no-repeat scroll 0 0; width:33% }
#warpperLogin { margin:35px 0px 10px 242px; height:170px; width:100%; }

	#warpperLogin table { width:212px; margin-top:13px; }
	#warpperLogin table tr { margin-bottom:10px; }
	#warpperLogin table tr td { padding:0px 0px 0px 12px; }
	#warpperLogin table tr td.spacerTD { height:10px; }
	#warpperLogin table tr td input { background:#80BBCD; border:none; padding:1px 3px; color:#ffffff; width:180px; }
	#warpperLogin table tr td#inputUser { background:#ffffff url('../images/background/input.login.gif') no-repeat scroll 0 0; height:32px; width:212px; }
	#warpperLogin table tr td#inputPass { background:#ffffff url('../images/background/input.login.gif') no-repeat scroll 0 -44px; height:32px; width:212px; }
	#rememberPass { text-decoration:none; color:#000000; font-size:10px; }

	#warpperLogin table tr td input[type="submit"] { float:right; width:100px; background:transparent url('../images/background/submit.login.gif') no-repeat scroll 0 0; margin-top:10px; color:#ffffff; display:block; height:25px; text-transform:uppercase; }
	#warpperLogin #boxNotify { position:relative; height:1px; }
	#warpperLogin #boxNotify .layoutNotify { position:absolute;left:232px;top:20px;width:200px;padding:7px; }

p#rightsReserved { margin:0px 0px 0px 242px; color:#80bbcd; font-weight:bold; font-size:10px; }
p#rightsReserved a { text-decoration:none; color:#80bbcd; }

/* Remember password */
#frmRememberPassword table tr td#inputEmail { background:#ffffff url('../images/background/input.login.gif') no-repeat scroll 0 0; height:32px; width:212px; }
#frmRememberPassword table tr td#inputEmail input { background:#80BBCD; border:none; padding:1px 3px; color:#ffffff; width:180px; }

#frmRememberPassword table tr td.inputButton input { width:100px; background:transparent url('../images/background/submit.login.gif') no-repeat scroll 0 0; margin-top:10px; color:#ffffff; display:block; height:25px; text-transform:uppercase;}
#frmRememberPassword tr#containerCaptcha td { padding:0px; vertical-align:top; }
#frmRememberPassword tr#containerCaptcha #containerInputCaptcha { padding:0px 5px 0px 5px;}
#frmRememberPassword tr#containerCaptcha #containerInputCaptcha input { text-align:center; text-transform:uppercase; width:80px; height:30px; margin:0px; padding:5px 0px 5px 0px;}
#frmRememberPassword tr#containerCaptcha #containerReloadCaptcha { vertical-align: middle; }
#frmRememberPassword tr#containerCaptcha #containerReloadCaptcha img { cursor:pointer; }
#frmRememberPassword #boxRememberPasswordNotify { position:relative; height:1px; }
#frmRememberPassword #boxRememberPasswordNotify .layoutRememberPasswordNotify{ position:absolute;left:232px;top:20px;width:350px;padding:7px; }
#frmRememberPassword #btnEnviar, #frmRememberPassword #btnVolver {
	cursor:pointer;
}

/* Reset password */
#frmResetPassword table tr td.inputPassword { background:#ffffff url('../images/background/input.login.gif') no-repeat scroll 0 0; height:32px; width:212px; }
#frmResetPassword table tr td.inputConfirmPassword { background:#ffffff url('../images/background/input.login.gif') no-repeat scroll 0 -44px; height:32px; width:212px; }
#frmResetPassword table tr td.inputPassword input { background:#80BBCD; border:none; padding:1px 3px; color:#ffffff; width:180px; }
#frmResetPassword table tr td.inputButton input { float:right; width:100px; background:transparent url('../images/background/submit.login.gif') no-repeat scroll 0 0; margin-top:10px; color:#ffffff; display:block; height:25px; text-transform:uppercase;  }
#frmResetPassword #boxResetPasswordNotify { position:relative; height:1px; }
#frmResetPassword #boxResetPasswordNotify .layoutResetPasswordNotify{ position:absolute;left:232px;top:20px;width:350px; padding:7px; }
#frmResetPassword #boxResetPasswordNotify .layoutResetPasswordNotifyDeprecated  { width:350px; padding:7px; }
#frmResetPassword #containerProgressBar { padding:5px 0px 0px 0px; }
#frmResetPassword #staticProgressBar{ background:#dddddd; height:5px; padding:0px; margin:0px; width:212px; }
#frmResetPassword #progressBar { height:5px; width:212px; }
#frmResetPassword #progressBarText{ font-size:10px; height:15px; }

/* Success reset password */
#successResetPassword { position:relative; top:30px; }
#successResetPassword a { color:#0066cc; }

/* BASE */
#backgroundTop { position:absolute; top:0px; background:transparent url('../images/background/bkgrd.baseTop.png') repeat-x scroll 0 0; width:100%; height:152px; z-index:-1; }
#backgroundTop img { float:right; margin:8px 20px 0px 0px; }
#backgroundBottom { position:absolute; bottom:0px; background:transparent url('../images/background/bkgrd.basebottom.png') repeat-x scroll 0 0; width:100%; height:124px; z-index:-1; }
.container {position:relative; min-height: 100%; _height: 100%; width:100%; clear:both;}
.contentMain { width:1024px;margin:auto; }
#menuContent { background:transparent url('../images/background/bkgrd.menu.top.png') no-repeat scroll 0 0; padding-top:37px; margin-top:25px; width:273px; padding-bottom:124px; }

	#menuContent div#infoImageClient { background:transparent url('../images/background/bkgrd.menu.middle.png') repeat-y scroll 0 0; width:273px; padding-bottom:15px; text-align:center; }
	#menuContent ul#lstMenu { background:transparent url('../images/background/bkgrd.menu.middle.png') repeat-y scroll 0 0; margin:0px; list-style:none; width:273px; }
	#menuContent ul#lstMenu li { background:transparent url('../images/background/shadow.menu.gif') repeat-x scroll 0 bottom; width:205px; margin:0px 0px 0px 14px;  font-size:11px; border-top:1px solid #4394ab; }
	#menuContent ul#lstMenu li#infoDataClient { border-top:none; padding:0px 15px 7px 25px; width:165px; }
	#menuContent ul#lstMenu li#infoDataClient p { color:#575858; margin:0px; }
	#menuContent ul#lstMenu li#infoDataClient p#controlsClient { color:#0066CC; padding-top:3px; }
	#menuContent ul#lstMenu li#infoDataClient p#controlsClient a { height:auto; width:auto; margin:0px; padding-left:0px; display:inline; }
	#menuContent ul#lstMenu li#infoDataClient p#controlsClient span { margin:0 4px; }
	#menuContent ul#lstMenu li a { display:block; padding-left:15px; width:190px; height:45px; text-decoration:none; }
	#menuContent ul#lstMenu li a img { margin:7px 6px 0px 0px; float:left; }
	#menuContent ul#lstMenu li a label { font-weight:bold; display:block; padding-top:5px; color:#456090; text-transform:uppercase; font-size:13px; cursor:pointer; }
	#menuContent ul#lstMenu li a em { font-style:italic; }
	#finalMenuContent { background:transparent url('../images/background/bkgrd.menu.bottom.png') repeat-y scroll 0 0; width:273px; height:70px; }

	#menuContent ul#lstMenu li a.menuImage:hover { background:transparent url('../images/background/bkgrd.blueShadow.gif') repeat-x scroll 0 -7px; }

#warpperContent { position:relative; padding-top:126px; padding-bottom:124px; }

/* BREADCUMB */
#breadCumb { color:#3c3c3c; padding-bottom:6px; }
#breadCumb a { color:#6e82cc; text-decoration:none; }
#breadCumb a#current { color:#3c3c3c; }

/* CONTENT GENERAL */
#textExplication { margin-bottom:20px; }
#textExplication h2 { font-size:40px; margin:10px; }
#textExplication p { margin:3px 0px 0px 5px; text-align:justify; font-size:12px; }
#textExplication p cufon { margin:3px 0px 0px; }

	/* Menu controls buttons */
	#controlModButtons { width:680px; padding-left:0px; display:inline-table; list-style:none; }
	#controlModButtons li { position:relative; float:left; border-bottom:2px groove #222222; border-right:2px groove #222222; margin:5px 6px 0px 0px; background-color:#DCDCDC }
	#controlModButtons li a { display:block; float:left; padding:3px 0px 3px 10px; margin-top: 5px; width:146px; height:30px; font-size:15px; color:#000000; text-decoration:none; }

		#controlModButtons li a.OptionAdd { background:transparent url('../images/pictures/icons/action.add.icon.png') no-repeat scroll 120px 5px; }
		#controlModButtons li a.OptionEdit { background:transparent url('../images/pictures/icons/action.edit.icon.png') no-repeat scroll 120px 5px; }
		#controlModButtons li a.OptionDelete { background:transparent url('../images/pictures/icons/action.delete.icon.png') no-repeat scroll 120px 5px; }
		#controlModButtons li a.OptionDisable { background:transparent url('../images/pictures/icons/action.disable.icon.png') no-repeat scroll 120px 5px; }
		#controlModButtons li a.OptionPDF { background:transparent url('../images/icon.pdf.png') no-repeat scroll 120px 5px; }
		#controlModButtons li a.OptionSend { background:transparent url('../images/icon.send.png') no-repeat scroll 120px 5px; }

	#controlModButtons li img { position:absolute; top:0px; right:8px; z-index:-1; }

/* MANAGE FORMS */
.headerSectionForm { background-color:#C9DCED; background-image:url("tables/catbar_blue_2.jpg"); background-repeat:repeat-x; height:32px; margin-top:0;width:679px; position:relative;  }
.headerSectionForm .leftBorder { background: url("tables/catbar_left_bg.jpg") no-repeat scroll 0 0 transparent; width:10px; height:32px; float:left; }
.headerSectionForm .rightBorder { background: url("tables/catbar_right_bg.jpg") no-repeat scroll 0 0 transparent; width:10px; height:32px; float:right; }
.headerSectionForm .titleSectionForm { position:absolute; left:0px; padding:6px 0px 6px 13px; }
.headerSectionForm .iconExpand { position:absolute; left:0px; background: url(../images/arrow_expand.png) no-repeat center right; width:670px; height:32px; cursor:pointer; }
.headerSectionForm .iconCollapse { position:absolute; left:0px; background: url(../images/arrow_collapse.png) no-repeat center right; width:670px; height:32px; cursor:pointer; }
.containerSection { width:650px; position:relative; left:0px; margin:0px 15px 0px 15px; }
.contentSectionForm { margin:auto; background: url("tables/sb_0.jpg"); background-position: center top; background-repeat: repeat-x; background-color:#E6EAEC; border-right:1px solid #b9c6ce; border-left:1px solid #b9c6ce; padding:10px; }
.contentSectionForm .checked { background:url(../images/checked.png) no-repeat; width:16px; height:16px;}
.contentSectionForm .unChecked { background:url(../images/unchecked.png) no-repeat;  width:16px; height:16px;  }
.contentSectionForm .containerImageRight { padding-left:30px; }
.contentSectionForm .iconViewImage { background:url(../images/unchecked.png); width:16px; height:16px;}
.contentSectionForm input { width:100%; }
.contentSectionForm input[type="text"]:hover,.contentSectionForm input[type="password"]:hover { border:1px solid #4394ab; }
.footerSection { background-color: #C9DCED; background-image: url("tables/combar-m.gif"); background-repeat: repeat-x; height: 39px; margin: 0 14px 16px 0px; width:680px; }
.footerSection .footerSectionLeft { background: url("tables/combar-l.gif") no-repeat scroll left center transparent; height: 39px; }
.footerSection .footerSectionRight { background: url("tables/combar-r.gif") no-repeat scroll right center transparent; height: 39px; }
.boxFormEasyNotify { margin-bottom:5px; }
.layoutFormEasyNotify { width:666px; padding:7px }
.alturaContenedorArchivo { height:16px; }
tr.negrita td { font-weight:bold; }
.tableMedia { width: 400px; }
.columnMedia { width: 200px; }
.comboMenuCopy { float:left;margin-right:5px; }

.areaText { resize:none; width:580px; height:100px; }
.contentSectionForm .inputWorkshopDate { width:80px; }
.contentSectionForm .inputWorkshopText { width:60px; }

.contentSectionForm a { color: #222222; text-decoration: none; }

/* TABS */
ul.tabs { display:inline-table; list-style:none; padding:0px; margin:0px; }
ul.tabs li { float:left; padding: 0px 5px 0px 5px; background-color:#d9dbdc; cursor:pointer; }
ul.tabs li.active { background-color:#ffffff }

/* Display member block */
.displayed { display: block; }
.noDisplayed { display: none; }


/* user selected */
.userSelected { padding-right:40px; float:left !important; }
.userSelectedLast { padding-right:40px; }