.idea
*.pdf
*.doc
audio
backup
cgi-bin
classes
database
documentacion
easygestor/ckfinder
easygestor/classes
easygestor/editor
easygestor/files
easygestor/images
easygestor/*.pdf
editor
editor_ORIGINAL
excel
files
images
jobs
juicebox_gallery
metNew
metOldsite
rss
uploads