:root {
  --primary: #fff;
  --primary-gradient: linear-gradient(45deg, #fff 0%, #fff 100%);
}
.section-header {
  text-align: center;
}
.section-header h2 {
  /* font-family: Georgia; */
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.8rem;
  /*   font-size: 32px; 
  font-weight: 400; */
  margin-bottom: 16px;
}
.section-header hr {
  border: 1px solid #fff;
  width: 56px;
}
.bg-gradient_solid {
  background: var(--primary-gradient);
  color: #329e99;
  padding: 20px 0;
  /* padding: 48px 0; */
}
.steps {
  position: relative;
  margin-top: 0px;
  /* margin-top: 32px; */
}
.steps::after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: #329e99;
  opacity: 0.4;
  top: 0;
  bottom: 0;
  left: 50%;
}

.steps .content p {
  color: #212529;
  /*   color: #404040; */
  font-family: -apple-system, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-family: Roboto; */
  font-weight: 400;
  font-size: 16px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px 0px;
}
.steps .content h2 {
  /* font-family: Georgia; */	
  font-family: Georgia, Times, "Times New Roman", serif;
  /* font-weight: 600;
  font-size: 1.8rem;
  font-size: 20px;
  color: #891718; */
  color: #348a88;
}

.steps .content h3 {
  /* font-family: Georgia; { */
  font-family: Georgia, Times, "Times New Roman", serif;
  /* font-weight: 600;
  font-size: 1.4rem;
  font-size: 16px; */
  color: #891718;
  margin-top: 0.8em;
}
.steps-container {
  position: relative;
  background-color: ;
  width: calc(50% + 32px);
}

.steps-container .content {
  padding: 0px 24px;
  /* padding: 24px; */
  background-color: #f5ffff;
  position: relative;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0px 0px 0px rgb(0 11 30 / 10%);
}

.steps .steps-container:nth-child(even) {
  left: calc(50% - 32px);
  flex-direction: row-reverse;
}

.steps-container {
  display: flex;
}

.steps .steps-container .date {
    font-family: -apple-system, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-family: Roboto; { */  
  font-weight: 500;
  font-size: 16px;
  color:#fff;
  margin-bottom: 10px;
  width: 62px;
  height: 62px;
  background-color: #329e99;
  border-radius: 50%;
  flex-shrink: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 777;
}

.step-line {
  width: 40px;
  background-color: #329e99;
  height: 1px;
  margin-top: 10px;
  /* margin-top: 31px; */
  opacity: 0.4;
  flex-shrink: 0;
}
  
/* @media (max-width: 767px) { */
  .steps::after {
    left: 32px;
  }
  .steps-container {
    left: 0;
    flex-direction: row-reverse;
    width: auto;
    margin-bottom: 16px;
  }
  .steps .steps-container:nth-child(even) {
    left: 0;
  }
/* } */
