@CHARSET "UTF-8";

address a { color:#8B1513; }


h2 {
    color: #8B1513;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 1.8rem;
}
.councilMember {
    margin: 1em 0;
}
.councilMember img {
    width: 100px;
    height: 130px;
    margin-top: .5em;
    float:left;
    margin-right: 1em;
}
.councilPost {
    font-size:100%;
    font-weight:normal;
    color:#8B1513;
    margin: 1em 0 1.5em 0;
}
.councilName {
    font-size:120%;
    font-weight:normal;
    color:#8B1513;
}
.councilContact {
    margin-top: 65px;
}
.councilMember ul {
    font-size:80%;
    padding-left: 20px;
}
.captchaText {
    display:block;
    width:150px;
}
.captchaBox {
    display:block;
    width:150px;
}

#form .boxForm .errorInput,
#form #captchaBox .errorInput { background:#F9EBEA; color:#8B1513; border:1px solid #8B1513; }

#msgAlert, #msgAlertStatic { padding:4px 12px; border-radius:6px; }
.msgKOContact { color:#dc3545; }
.msgOKContact { color:#348A88; }

.txtaComentarios {
    margin-bottom: .8em;
}