@CHARSET "UTF-8";

/* Styles for Members Directory */
#members_directory {
	padding: 9px 9px 10px 10px;
}
h2.titleSection {
	color: #8B1513;
	/*font-family: "Times", Times, serif;*/
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 1.8rem
}
h3.subTitleSection {
	color: #348A88;
	/*font-family: "Times", Times, serif;*/
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 1.4rem;
	margin-top: 1.3em;
}

/* Styles for the search form */
#frmSearchMember fieldset {
	margin-top: 30px;
}
#frmSearchMember .whole-word {
	margin-top: 0.5em;
}

/*Styles for the results list */
#lstResultsMemberDirectory .itemMember {
	position: relative;
	width: 318px;
	border: 1px solid #B2B2B2;
	border-radius: 8px;
	margin-top: 10px;
	height: 96px;
}
#lstResultsMemberDirectory .headshot {

}
#lstResultsMemberDirectory .headshot img {
	margin: 5px 0 0 5px;
	vertical-align: middle;
}
#lstResultsMemberDirectory .description {
	margin: 8px 0 4px -15px;
}
#lstResultsMemberDirectory .description label {
	display: block;
}
#lstResultsMemberDirectory .description a {
	color: #0097A8;
}
#lstResultsMemberDirectory .nameMember a {
	display: block;
	padding-right: 20px;
	margin-bottom: 8px;
	font-size: 1.2em;
	color:#8B1513;
	line-height: 0.9em;
}
#lstResultsMemberDirectory label {
	line-height: 1.1em;
	margin-bottom: 0;
}
label.mailMember {
	background: transparent url('../../images/pictures/icons/icon.mail.png') no-repeat scroll 0 50%;
}
label.mailMember a {
	font-size:70%;
	margin-left: 20px;
	width: auto;
	vertical-align: middle;
}
label.webMember {
	background: transparent url('../../images/pictures/icons/icon.web.png') no-repeat scroll 0 50%;
    background-position: bottom left;
}
label.webMember a {
	font-size:70%;
	margin-left: 20px;
}

/* Styles for members directory search form */
#form #btnSendForm { padding:4px 10px; margin:4px 10px; }

#lstResultsMemberDirectory .itemMember .more {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	padding: 4px 6px;
	color: #8B1513;
	font-size: 20px;
	border-left: 1px solid #8B1513;
	border-bottom: 1px solid #8B1513;
	border-bottom-left-radius: 8px;
	border-top-right-radius: 8px;
}
#lstResultsMemberDirectory .itemMember .more:hover {
	color: #0097A8;
}

#lstResultsMemberDirectory .itemMember .moreAdmin {
	position: relative;
	float: right;
	display: block;
	top: 0;
	right: 0;
	padding: 4px 6px;
	color: #8B1513;
	font-size: 20px;
}

#lstResultsMemberDirectory .itemMember .moreAdmin {
	color: #0097A8;
}


/* Styles for METM Attendee List */
.card {
	max-width: 22rem;
	border-color: #cccccc;
}
.card-body {
	padding: .25rem;
}
.attendee-image {
	float:left;
	max-width:83px;
	max-height:90px;
}
.attendee-text {
	padding-left: 90px;
	font-family: Helvetica, sans-serif;
	font-size: medium;
}
.attendee-name {
	display: block;
	font-size: 1.1em;
	font-weight: 600;
	margin-bottom: .3em;
}
.attendee-name a {
	color: #0dbabe;
}
.attendee-name a:hover {
	color: #348A88;
}
.attendee-affiliation {
	display: block;
	font-size: .8em;
	font-weight:400;
	color:gray;
}