@CHARSET "UTF-8";

#members_directory {
	padding: 9px 9px 10px 10px;
}
h2.titleSection {
	color: #8B1513;
	margin: 0 0 15px;
}
h3.subTitleSection {
	color: #348A88;
	margin: 15px 0;
}

#frmSearchMember fieldset {
	margin-top: 30px;
}

#lstResultsMemberDirectory .itemMember {
	position: relative;
	width: 318px;
	border: 1px solid #B2B2B2;
	border-radius: 8px;
	margin-top: 10px;
	height: 96px;
}
#lstResultsMemberDirectory .headshot {
}
#lstResultsMemberDirectory .headshot img {
	height: 100%;
	margin: 5px 0 0 5px;
}
#lstResultsMemberDirectory .description {
	margin: 8px 0 4px -15px;
}
#lstResultsMemberDirectory .description label {
	display: block;
}
#lstResultsMemberDirectory .description a {
	color: #0097A8;
}
#lstResultsMemberDirectory .nameMember a {
	display: block;
	padding-right: 20px;
	margin-bottom: 8px;
	font-size: 1.2em;
	color:#8B1513;
	line-height: 0.9em;
}
#lstResultsMemberDirectory label {
	line-height: 1.1em;
	margin-bottom: 0;
}
label.mailMember {
	background: transparent url('../../images/pictures/icons/icon.mail.png') no-repeat scroll 0 50%;
}
label.mailMember a {
	font-size:70%;
	margin-left: 20px;
	width: auto;
	vertical-align: middle;
}
label.webMember {
	background: transparent url('../../images/pictures/icons/icon.web.png') no-repeat scroll 0 50%;
    background-position: bottom left;
}
label.webMember a {
	font-size:70%;
	margin-left: 20px;

}



/* form */
#form #btnSendForm { padding:4px 10px; margin:4px 10px; }

#lstResultsMemberDirectory .itemMember .more {
	position: absolute;
	display: block;
	top: 0px;
	right: 0px;
	padding: 4px 6px;
	color: #8B1513;
	font-size: 20px;
	border-left: 1px solid #8B1513;
	border-bottom: 1px solid #8B1513;
	border-bottom-left-radius: 8px;
	border-top-right-radius: 8px;
}
#lstResultsMemberDirectory .itemMember .more:hover {
	color: #0097A8;
}

#lstResultsMemberDirectory .itemMember .moreAdmin {
	position: relative;
	float: right;
	display: block;
	top: 0px;
	right: 0px;
	padding: 4px 6px;
	color: #8B1513;
	font-size: 20px;
}

#lstResultsMemberDirectory .itemMember .moreAdmin {
	color: #0097A8;
}

