@CHARSET "UTF-8";

/* Styles for home page in general */
.titleHomePage {
    background:#58585a;
    font-size:14px;
    color:#ffffff;
    font-weight:bold;
    text-transform:uppercase;
    padding: 4px 10px;
    margin:0px;
}
.titleHomePage a {
    float:right;
    color:#ffffff;
    text-transform:none;
    font-size:1em;
    font-style:italic;
}
.titleHomePage a:hover {
    color:#ffc4c3;
}
.contentHomePage {
    padding:10px 10px;
    /* color: #58585a; */
}
.contentHomePage a {
    color:#8B1513;
}
.contentHomePage a:hover {
    color:#348A88;
}

/* Styles for home page header image */
.home_page_header_image {
	margin:8px 0px;
}

/* Styles for feedback carousel */
#feedback {
    color: #008080;
    width:90%;
    height: 100%;
    padding: 6px 12px;
    margin: 0 auto 20px;
    text-align: center;
}
.carousel-inner {
    height: 48px;
}

/* Styles for home page News section */
h6.newsTitle {
    color: #8B1513;
    margin: .8em 0 0 0;
}
.contentHomePageNews ul {
    margin-top: 10px;
}
.contentHomePageNews a {
    color:#8B1513;
}
.contentHomePageNews a:hover {
    color:#348A88;
}
#listHomePageNews li {
    margin-bottom:15px;
}

/* Styles for home page Hive section */
.contentHomePageHive {
    padding-top:10px;
}

