@CHARSET "UTF-8";

/* ## table resume news ## */
#tblResumeNews tr td { padding:9px 0px 10px 10px; }
#tblResumeNews tr td div.contentResume { width:330px; background:transparent url('../../images/backgrounds/bkgrd.resumeNews.jpg') no-repeat scroll; height:198px; padding:80px 30px 10px 30px; color:#ffffff; }
.contentResume strong { display:block; margin-bottom:5px; font-size:16px; text-transform:uppercase; }
.contentResume a { color:#ffffff; }
.contentResume a:hover { color:#8B1513; }
	#tblResumeNews #conference { background-position:-391px 0px; }

/* ## table resume about ## */
#tblResumeAbout { width:789px; margin:0px 10px; color:#58585a; }
#tblResumeAbout tr td { padding:4px 10px; }
#tblResumeAbout .titleResumeAbout { background:#58585a; width:367px; font-size:14px; color:#ffffff; font-weight:bold; text-transform:uppercase; }
#tblResumeAbout .titleResumeAbout a { float:right; color:#ffffff; text-transform:none; font-size:13px; font-style:italic; }
#tblResumeAbout .titleResumeAbout a:hover { color:#ffc4c3; }
#tblResumeAbout h3 a { font-size:14px; color:#000000; text-transform:uppercase; }
#tblResumeAbout .contentAbout { padding:10px 12px; }
.contentAbout a { color:#8B1513; }
.contentAbout a:hover { color:#348A88; }

#lstResumeNews li { margin-bottom:15px; }