@CHARSET "UTF-8";

h2.titleSection { color:#8B1513; font:700 24px/24px 'Advent Pro', sans-serif; margin:0px 0px 15px; }

/* detail */
#detailInstitutionalMember { padding:20px 20px; }
#detailInstitutionalMember #detailText a { color:#8B1513; }
#detailInstitutionalMember #detailText a:hover { color:#0097A8; }
#imageDetail { margin:15px; }

#detailInstitutionalMember ul { list-style:disc; padding:15px 0px 15px 32px; }