@CHARSET "UTF-8";

#job { padding:9px 9px 10px 10px; width:576px; }

#job a { color:#8B1513; }
#job a:hover { color:#348A88; }

h2.titleSection { color:#8B1513; font:700 24px/24px 'Advent Pro', sans-serif; margin:0px 0px 15px; }

#job ul { list-style:disc; padding:15px 0px 15px 32px; }