	@CHARSET "UTF-8";

#jobs { padding:9px 9px 10px 10px; width:576px; }

h2.titleSection {
	color: #8B1513;
	/*font-family: "Times", Times, serif;*/
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 1.8rem
}

#jobs a { color:#8B1513; }
#jobs a:hover { color:#348A88; }

#lstJobs { width:485px; margin:30px auto 20px; }
#lstJobs li { padding:0px 2px 6px; margin-bottom:6px; border-bottom:1px solid #CCCCCC; }
#lstJobs li a.titleJob { font-weight:bold; font-size:13px; }
#lstJobs li span.dateJob { margin-left:5px; font-weight:bold; }
#lstJobs li p.descriptionJobs { margin:2px 0px 0px; }