@CHARSET "UTF-8";

#news { padding:9px 9px 10px 10px; }

h2.titleSection { color:#8B1513; font:700 24px/24px 'Advent Pro', sans-serif; margin:0px 0px 15px; }

/* ## column topics ## */
#colTopics { width:190px; padding-right:10px; border-right:1px solid #8B1513; }
#colTopics ul { margin-left:10px; }
#colTopics ul li { padding-left:7px; border-bottom:1px solid #ECECED; }
#colTopics ul li a { display:block; padding:4px 0px; color:#8B1513; }
#colTopics ul li a:hover,
#colTopics ul li.current a { color:#0097A8; }
#colTopics ul li a span { margin-left:4px; color:#0e5856; }

#colListNews a { color:#0dbabe; }
#colListNews a:hover { color:#348A88; }

/* ## column list news ## */
#colListNews { width:576px; padding-left:10px; vertical-align: top; }
#lstNews { margin:25px 15px; }
#lstNews li { margin:20px 0px; }
#lstNews li a.titleNew { color:#000000; font-weight:bold; text-transform:uppercase; }

	/* form */
	#form #btnSendForm { padding:4px 10px; margin:4px 10px; }

#topicDate a { color:#8B1513; }
#topicDate a:hover { color:#0097A8; }

#colListNews ul { list-style:disc; padding:15px 0px 15px 32px; }