	/* ## rememberPassword panel ## */
	h2.titleSection { color:#8B1513; font:700 24px/24px 'Advent Pro', sans-serif; margin:0px 0px 15px; }
	#rememberPasswordPanel { padding:9px 9px 10px 10px; width:784px;}
	#rememberPasswordPanel #infoUserData {  padding:10px 10px 10px 10px; text-align:left; }
	#rememberPasswordPanel .input { width:240px; padding:5px; margin-bottom:8px; border:none; font:12px/16px 'Arial', Helvetica, sans-serif; }
	#rememberPasswordPanel form #btnLogin {  width:80px; font-weight:bold; font-size:14px; text-align:center; text-transform:uppercase; cursor:pointer; }
	#rememberPassword a { color:#0097a8; }
	.msgOK span { color:#268206 !important; }
	#msgError span { color: #8B1513 !important; }