.tooltip {
	background-color:#2b5584;
	border:1px solid #2b5584;
	width:200px;
	display:none;
	color:#fff;
	text-align:left;
	font-size:10px;
	padding:5px;
	font-family:Arial;

	/* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #2b5584;
	-webkit-box-shadow:0 0 10px #2b5584;
}